/_reports/*
/bin/*
/node_modules/*
/obj/*
/Properties/*
/scripts/*
/packages/*
/jasmine-tests/*
*.config
*.ps1
*.json
*.user
*.csproj
gulpfile.js
karma.conf.js
*.sln
*.suo
README.md

/test/test.js
/test/test.html
/test/simple-test.js
/test/jqxGrid.test.js
/test/jqx.base.css
/test/jqx-all.js
/test/calculator.test.js
/source/calculator.js
/source/tabs.js
/test/fixtures/jqxGrid.html
/test/fixtures/tabs.html
/source/jqxbuttons.js
/source/jqxcomplexinput(DONT delete).js
/source/jqxComplexInputTest.js
/test/fixtures/jqxComplexInputTest.html
/test/jqxComplexInput.test.js
